To activate virtual environment(Not required)
env\Scripts\activate

Packages required to run project: 
Django==2.2.4
joblib==0.13.2
numpy==1.16.4
pandas==0.24.2
python-dateutil==2.8.0
pytz==2019.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
xgboost==0.90

To install these use command:
pip install <package name>
eg.: pip install django
   : pip install joblib


To run above project goto the directory ttps, i.e. directory looks like:
D:\MNNIT Summer 2019\Django - project compressed\ttps>
i.e.
D:\<your path>\ttps>

And then run a command as:
D:\<your path>\ttps>python manage.py runserver

It looks like:

Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).

You have 17 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): admin, auth, contenttypes, sessions.
Run 'python manage.py migrate' to apply them.
July 16, 2019 - 00:42:15
Django version 2.2.1, using settings 'ttps.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CTRL-BREAK.




GOTO: http://127.0.0.1:8000/
Website is live