{% extends 'main/header.html' %}
{% block title %}About us | Developers!{% endblock %}
    {% block content %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>

        <div class="w3-light-grey">

            <!-- w3-content defines a container for fixed size centered content,
            and is wrapped around the whole page content, except for the footer in this example -->
            <div class="w3-content" style="max-width:1400px">

            <!-- Header -->
            <header class="w3-container w3-center w3-padding-32">
              <h1><b>About Us</b></h1>
              <p>Welcome to the blog of <span class="w3-tag">Developers</span></p>
            </header>

            <!-- Grid -->
            <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
              <!-- Blog entry -->
              <div class="w3-card-4 w3-margin w3-white">
                  {% load static %}
                <img src="{% static 'main/images/woods.jpg' %}" alt="Nature" style="width:100%;height:50%;">
                <div class="w3-container">
                  <h3><b>THIS PROJECT</b></h3>
                  <h5>Introduction to idea, <span class="w3-opacity">July 5, 2019</span></h5>
                </div>

                <div class="w3-container">
                  <p>The tours and travel prediction system is a web based application. The main purpose of “Tours and Travels Prediction System ” is to provide a convenient way for a customer to availability of book hotels, flight, train and bus for tour purposes on the basis of upcoming population prediction.
                      </p>
                  <div class="w3-row">
                    <div class="w3-col m8 s12">
                      <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                      <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <!-- Blog entry -->
              <div class="w3-card-4 w3-margin w3-white">
              <img src="{% static 'main/images/bridge.jpg' %}" alt="Norway" style="width:100%">
                <div class="w3-container">
                  <h3><b>BLOG ENTRY</b></h3>
                  <h5>Title description, <span class="w3-opacity">July 2, 2019</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                  <div class="w3-row">
                    <div class="w3-col m8 s12">
                      <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                      <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            <!-- END BLOG ENTRIES -->
            </div>

            <!-- Introduction menu -->
            <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top">
                  <!-- {% static 'main/images/img1.jpg' %} -->
              <img src="" style="width:100%">
                <div class="w3-container w3-white">
                  <h4><b>Team</b></h4>
                  <p>Just we, exploring the universe of Django. We have a heart of love and a interest of Web Development and Data Analysis. We want to share our world with you.</p>
                </div>
              </div><hr>

              <!-- Posts -->
                <div class="w3-card w3-margin">
                  <div class="w3-container w3-padding">
                    <h4>Developers</h4>
                  </div>
                  <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                      <img src="{% static 'main/images/neha.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                      <span class="w3-large">Neha Dubey</span><br>
                      <span>CSED UCEM</span>
                    </li>
                    <li class="w3-padding-16">
                      <img src="{% static 'main/images/priya.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                      <span class="w3-large">Priya Srivastava</span><br>
                      <span>CSED UCEM</span>
                    </li>
                    <li class="w3-padding-16">
                      <img src="{% static 'main/images/samridhhi.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                      <span class="w3-large">Samridhhi Srivastava</span><br>
                      <span>CSED UCEM</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="{% static 'main/images/satish.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Satish Kr Yadav</span><br>
                        <span>CSED UCEM</span>
                      </li>
                      <li class="w3-padding-16">
                          <img src="{% static 'main/images/satyendra.jpg' %}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                          <span class="w3-large">Satyendra Giri</span><br>
                          <span>CSED UCEM</span>
                      </li>
                  </ul>
                </div>
              <hr>

            <!-- END Introduction Menu -->
            </div>

            <!-- END GRID -->
            </div><br>

            <!-- END w3-content -->
            </div>

        </div>

{% endblock %}