{% extends 'main/header.html' %}
    {% block title %}To be{% endblock %}

    {% block content %}
{% load static %}
<!-- Slide 2 (#55) -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="form-55">
          <div class="pad shadow left selected ae-3">
            <form action="ajax-email.php" id="contact-form" method="post" class="slides-form wide" data-ajax-form="true">
              <ul class="grid noSpaces">
                <li class="col-6-12 form-55-input-1">
                  <div class="label ae-5"><label class="left opacity-5" for="name55">Enter Year</label></div>
                  <input class="ae-6" id="name55" type="name" name="name" placeholder="Enter Year" required/>
                </li>
                <li class="col-6-12 form-55-input-2">
                  <div class="label ae-5"><label class="left opacity-5" for="email55">Enter Quarter</label></div>
                  <input class="ae-6" id="email55" type="email" name="email" placeholder="Quarter" required/>
                </li>
              </ul>
              <ul class="grid noSpaces">
                <li class="col-6-12 form-55-input-1">
                  <div class="label ae-5"><label class="left opacity-5" for="name55">Country</label></div>
                  <input class="ae-6" id="name56" type="name" name="name" placeholder="Country" required/>
                </li>
                <li class="col-6-12 form-55-input-2">
                  <div class="label ae-5"><label class="left opacity-5" for="email55">Mode</label></div>
                  <input class="ae-6" id="email56" type="name" name="name" placeholder="Mode of arrival" required/>
                </li>
              </ul>
         <ul class="grid noSpaces">
                <li class="col-6-12 form-55-input-1">
                  <div class="label ae-5"><label class="left opacity-5" for="name55">Duration</label></div>
                  <input class="ae-6" id="name57" type="name" name="name" placeholder="Duration" required/>
                </li>
                <li class="col-6-12 form-55-input-2">
                  <div class="label ae-5"><label class="left opacity-5" for="email55">Spends</label></div>
                  <input class="ae-6" id="email57" type="name" name="name" placeholder="Spends" required/>
                </li>
              </ul> 

<ul class="grid noSpaces">
                <li class="col-12 form-55-input-1">
                  <div class="label ae-5"><label class="left opacity-5" for="name55">Nights</label></div><input class="ae-6" id="email58" type="name" 
name="name" placeholder="Nights" required/>
                </li>
                <li class="col-6-12 form-55-input-2">
 </li></ul>             <button type="submit" class="button wide blue gradient ae-10 margin-top-2 cropBottom" data-success-text="Done!" data-success-class="message-sent" name="button"  onclick="method()">Send message</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>  
  <div class="background" style="background-image:url(assets/img/background/img-55.jpg)"></div>
  <div class="background" style="background-image:url({% static 'main/assets/img/background/img-55.jpg' %})"></div>

</section>
{% endblock %}
