
<div class="navbar-fixed">
    <nav class="grey darken-3" role="navigation">
        <div class="nav-wrapper">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <a href="/" class="brand-logo" style="font-size:2.5vw;text-align:center;">&nbspTourism Prediction System</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% include 'main/includes/navbar_buttons.html' %}
            </ul>
        </div>
    </nav>
</div>

    <!--This is for controlling mobile-->
    <ul class="sidenav" id="mobile-demo">
        {% include 'main/includes/navbar_buttons.html' %}
    </ul>