<li><a href="/"><i class="material-icons left">home</i>Home</a></li>
<!-- <li><a href="/community"><i class="material-icons left">people</i>Community</a></li> -->

{% if user.is_authenticated %}

    <li>                         <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='/account' data-target='dropdown1'>{{user.username}}</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/account">Account</a></li>
        <li><a href="#!">Network</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">Setting</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
    </li>

    <li><a href="/logout" class="waves-effect waves-light btn orange darken-4
    "><i class="material-icons left">group_work</i>Logout</a></li>

{% else %}
    <li><a href="/under_construction"><i class="material-icons left">help</i>How-to-use</a></li>
    <li><a href="/under_construction" class="waves-effect waves-light btn orange darken-4
    "><i class="material-icons right">group_work</i>Login</a></li>
    <li><a href="/about"><i class="material-icons left">domain</i>About</a></li>
{% endif %}